body{
    font-family: $sans;
    background-color: $dark;
    -webkit-overflow-scrolling: touch;
}

html, body, .site{ height: 100%; }

.site-content{ margin-bottom: auto; }

*:hover{ text-decoration: none !important; }

.no-results-alert{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    @media (max-width: 767px){
        top: 55%;
        transform: translate(-50%,-55%);
    }
}

.keep-scrolling{
    @include animation(bounce 2s infinite);
    font-size: 25px;
}