.row-one-column{
    column-count: 1;
    column-gap: 30px;
}

.row-two-columns{
    column-count: 2;
    column-gap: 40px;
    &-md{
        @media (min-width: 768px){
            column-count: 2;
            column-gap: 100px;
        }
    }
    &-lg{
        @media (min-width: 992px){
            column-count: 2;
            column-gap: 100px;
        }
    }
}

.row-three-columns{
    column-count: 3;
    column-gap: 70px;
    &-lg{
        @media (min-width: 992px){
            column-count: 3;
            column-gap: 70px;
        }
    }
}

.row-five-columns{
    column-count: 5;
    column-gap: 15px;
    &-xl{
        @media (min-width: 1200px){
            column-count: 5;
            column-gap: 15px;
        }
    }
    &-lg{
        @media (min-width: 992px){
            column-count: 5;
            column-gap: 15px;
        }
    }
}

.column{ break-inside: avoid; }