//Transition
@mixin transition($transition...) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}
@mixin transition-property($property...) {
    -moz-transition-property:    $property;
    -o-transition-property:      $property;
    -webkit-transition-property: $property;
    transition-property:         $property;
}
@mixin transition-duration($duration...) {
    -moz-transition-property:    $duration;
    -o-transition-property:      $duration;
    -webkit-transition-property: $duration;
    transition-property:         $duration;
}
@mixin transition-timing-function($timing...) {
    -moz-transition-timing-function:    $timing;
    -o-transition-timing-function:      $timing;
    -webkit-transition-timing-function: $timing;
    transition-timing-function:         $timing;
}
@mixin transition-delay($delay...) {
    -moz-transition-delay:    $delay;
    -o-transition-delay:      $delay;
    -webkit-transition-delay: $delay;
    transition-delay:         $delay;
}

//Transform
@mixin transform($transform...) {
    -moz-transform:    $transform;
    -o-transform:      $transform;
    -webkit-transform: $transform;
    transform:         $transform;
}
@mixin transform-origin($origin...) {
    -moz-transform-origin:    $origin;
    -o-transform-origin:      $origin;
    -webkit-transform-origin: $origin;
    transform-origin:         $origin;
}

//Box shadow
@mixin box-shadow($box-shadow...){
    -webkit-box-shadow: $box-shadow;
    -moz-box-shadow:    $box-shadow;
    box-shadow:         $box-shadow;
}

//Filter
@mixin filter($filter){
    -webkit-filter: $filter;
    filter:         $filter;
}

//Animation
@mixin animation($animation...){
    animation:          $animation;
    -webkit-animation:  $animation;
    -moz-animation:     $animation;
    -o-animation:       $animation;
}

//Text colors
$colors:(
    dark:   $dark,
    light:  $light
);
//Loop over list of colors
//@each ( $textColor : $color )
@each $textColor, $color in $colors{ .#{$textColor}-text{ color: $color; } }

//Text weights
$weights:(
    normal:   $normal,
    bold:  $bold
);
@each $textWeight, $weight in $weights{ .#{$textWeight}-text{ font-weight: $weight; } }

//Text family
$families:(
    sans: $sans,
    serif: $serif
);
@each $textFamily, $family in $families{ .#{$textFamily}-text{ font-family: $family; } }

//Headers sizes
$h1: 30px;
$h2: 20px;
$h3: 18px;
$h4: 16px;
$h5: 14px;
$h6: 12px;
// List of headings
$headings: ( h1: $h1, h2: $h2, h3: $h3, h4: $h4, h5: $h5, h6: $h6 );
// Loop over list of headings
// @each ( $heading : $size )
@each $heading, $size in $headings {
    #{$heading}{
        margin: 0;
        font-size: $size;
    }
}

//Spacing
$directions:(
    t: top,
    b: bottom,
    r: right,
    l: left
);
$sizes:(
    10, 20, 30, 40, 50
);
@each $dir, $direction in $directions{
    @each $size in $sizes{
        .m#{$dir}-#{$size}{ margin-#{$direction}: #{$size}px; }
    }
}

//Backgorund image
@mixin background-image($background-image){
    background-image: url('#{$pr_url}/wp-content/uploads/#{$background-image}');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

//Loader animation
@keyframes loader {
	0%{ width: 0; }
	20%{ width: 10%; }
	25%{ width: 24%; }
	43%{ width: 41%; }
	56%{ width: 50%;}
	66%{ width: 52%;}
	71%{ width: 60%;}
	75%{ width: 76%; }
	94%{ width: 86%;}
	100%{ width: 100%;}
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100%{ @include transform(translateY(0)); }
    40%{ @include transform(translateY(-6px)); }
    60%{ @include transform(translateY(-4px)); }
}