//Text
$sans: 'PT Sans', sans-serif;
$serif: 'PT Serif', serif;
$normal: 400;
$bold: 700;
$italic: italic;

//Colors
$dark: #111111;
$light: #fff;

//Progress bar
$bar-size: 2px;
$bar-radius: 60px;
$bar-bg: #313131;

$pr_url: 'http://nicopapafoto.com';
$dev_url: 'http://192.168.0.5/nico-papa';