.modal-backdrop.show{ opacity: .9; }

.work-modal{
    width: 100%;
    height: 100%;
    max-width: unset;
    margin: 0;
    .modal-content{
        height: 100%;
        display: block;
        background: transparent;
        border: none;
        border-radius: 0;
        padding: 30px 15px;
        
        .loading{ z-index: 1; }

        .header{ margin-bottom: 30px; }
        .close-modal{
            font-size: 20px;
            cursor: pointer;
            position: absolute;
            top: 30px;
            right: 15px;
            z-index: 99999999999;
        }
        .carousel{ flex: 1; }
        .carousel,
        .carousel-inner,
        .carousel-item{
            height: 100%;
            z-index: 999999;
        }
        .carousel-inner{
            //max-width: 80%;
            //margin: 0 auto;
            .portfolio-modal-image{
                flex: 1;
                overflow: hidden;
                position: relative;
                max-width: 80%;
                left: 50%;
                transform: translateX(-50%);
                img{
                    /*margin: auto;
                    max-width: 100%;
                    //max-height: 100%;*/
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                    max-width: 100%;
                    max-height: 100%;
                    z-index: 4;
                }
            }
            p{
                margin: 0;
                font-size: 18px;
            }
            a{
                font-size: 14px;
                margin-top: 5px;
                i{ margin-left: 5px; }
            }
        }
        .carousel-control-prev,
        .carousel-control-next{
            top: 50%;
            bottom: unset;
            width: fit-content;
            opacity: 1;
            font-size: 20px;
            transform: translateY(-50%);
            cursor: pointer;
            z-index: 999999;
            &:hover i{ color: transparentize($color: $light, $amount: .3) };
        }
    }
}

.custom-fade{
    opacity: 0;
    -webkit-overflow-scrolling: touch;
    @include transition(all .6s cubic-bezier(.7,.01,.3,1));
}

.custom-fade.show{ opacity: 1; }

.active.carousel-item-left,
.active.carousel-item-right {
    z-index: 0;
    opacity: 0;
    @include transition(all .3s linear !important);
}

.touchevents{
    .modal-open{
        .grid-wrapper{ overflow: hidden; }
    }
    .work-modal .modal-content .carousel{
        /*flex: 0;
        height: 50%;
        margin: auto;
        z-index: 0;
        @include transition(all .6s cubic-bezier(.7,.01,.3,1));*/
        /*flex: 1;
        max-height: 80%;*/
        /*flex: 0;
        margin: auto;*/
    }
    .work-modal .modal-content .close-modal{
        padding: 10px;
        top: 20px;
        right: 5px;
    }
}

.loaded-modal{ height: 100%; }