.intern-cover{
    width: 100%;
    height: 370px;
    position: relative;
    margin-bottom: 35px;
    .overlay{
        background-color: #111111;
        opacity: .7;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
    }
    h1{ z-index: 1; }
    @media (min-width: 1900px){ height: 500px; }
}