footer{
    margin-top: 20px;
    padding: 20px 0;
    padding-bottom: 10px;
    .go-top{
        font-size: 18px;
        //i{ margin-left: 10px; }
        &:hover i{ color: transparentize($color: $light, $amount: .3); }
        @media (max-width: 767px){
            order: -1;
            -ms-flex-order: -1;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-pack: end;
            justify-content: flex-end;
            margin-bottom: auto;
        }
    }
    @media (max-width: 767px){
        .footer{
            align-items: unset !important;
        }
    }
}

.copyright{
    background-color: $dark;
    padding: 5px 0;
    p, a{
        text-decoration: none;
        font-size: 11px;
        color: transparentize($color: $light, $amount: .3);
    }
    a:hover{ color: $light; }
}