.page-loading{
    position: fixed;
    width: 100%;
    height: 100%;
    font-size: 150px;
    text-align: center;
    vertical-align: middle;
    z-index: 200000;
    background-color: #111111;
}

.n-progress-bar {
	border-radius: $bar-radius;
	overflow: hidden;
    width: 100%;
    max-width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
	span{ display: block; }
}

.n-bar{ background: $bar-bg; }

.n-progress{
    @include animation(loader 8s ease forwards);
    background-color: #b8b8b8;
    padding: $bar-size;
    width: 0;
}

.loading{
    max-width: 75px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}