.site-navbar{
    padding: 30px 0;
    @media (max-width: 767px){
        display: block !important;
        .site-info{
            -ms-flex-pack: justify;
            justify-content: space-between;
        }
    }
}

.site-logo{ max-width: 150px; }

.menu-desktop{
    margin: 0;
    list-style-type: none;
    margin-block-end: 0;
    margin-block-start: 0;
    padding-inline-start: 0;
    margin-left: 100px;
    height: 100%;
    li{ line-height: 1; }
    a{
        font-size: 20px;
        text-decoration: none;
        //@media (max-width: 991px){ font-size: 18px; }
    }
    .current_page_item a{ color: transparentize($color: $light, $amount: .3); }
    @media (max-width: 991px){ margin-left: 60px; }
    @media (max-width: 767px){ text-align: right; }
}
.site-social-media{
    width: 225px;
    @media (max-width: 767px){
        margin-top: 25px;
    }
    h2{
        line-height: 1.3;
        //@media (max-width: 991px){ font-size: 18px; }
    }
    a{
        font-size: 20px;
        color: transparentize($color: $light, $amount: .3);
        &:hover{ color: $light; }
        //@media (max-width: 991px){ font-size: 18px; }
    }
}

.footer-menu{
    padding: 0;
    img{
        max-width: 35px;
        width: 35px;
    }
    .menu-footer{
        @extend .menu-desktop;
        margin-left: 50px;
        @media (max-width: 767px){
            display: flex;
            flex-direction: column;
            margin-left: 15px;
            text-align: left;
        }
        li{
            display: inline-block;
            &:not(:last-child){ margin-right: 45px; }
            a{
                color: $light;
                font-weight: $bold;
                &:hover{ color: transparentize($color: $light, $amount: .3); }
            }
            @media (max-width: 767px){ display: block; }
        }
    }
    @media (max-width: 767px){ align-items: stretch !important; }
}

footer .social-media{
    @media (max-width: 767px){
        align-items: unset !important;
        flex-direction: column;
    }
    .site-social-media{
        width: unset;
        margin-right: 50px;
        @media (max-width: 767px){
            margin-right: 0;
            align-items: unset !important;
            order: 13;
            -ms-flex-order: 13;
            display: block !important;
        }
        a{
            color: $light;
            &:hover{ color: transparentize($color: $light, $amount: .3); }
            &:not(:last-child){ margin-right: 20px; }
        }
    }
}