.papa-pagination{
    margin-top: auto;
    a{
        font-size: 18px;
        font-weight: $bold;
        color: $light;
        &:hover{
            color: transparentize($color: $light, $amount: .3);
            i{ color: transparentize($color: $light, $amount: .3); }
        }
    }
    .pages{
        margin: 0 auto;
        a:not(:last-child){ margin-right: 5px; }
        .current,
        .current:hover{ color: transparentize($color: $light, $amount: .3); }
    }
}