.blog-cover{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 0;
}

.header-content{ padding: 35px 0; }

.blog-post-content{
    background-color: $light;
    padding: 80px 0;
    color: $dark;
    p{ font-family: $serif; }
    p, h1, h2, h3, h4, h5, h6{ margin-bottom: 20px; }
    h1, h2, h3, h4, h5, h6{ font-weight: $bold; }
    .wp-caption{
        margin: 60px auto;
        width: unset !important;
        img{
            max-width: 100%;
            height: auto;
        }
        p{
            font-style: $italic;
            font-size: 12px;
            margin-top: 10px;
            text-align: center;
        }
    }
    .materials p{ margin: 0; }
    .author-date{
        font-size: 12px;
        font-style: italic;
    }
}

.single-papa_blog{
    .blog-page a{ color: transparentize($color: $light, $amount: .3)!important; }
    footer{ margin-top: 0; }
}