.post-type-archive-papa_blog{
    .blog-page a{ color: transparentize($color: $light, $amount: .3)!important; }
    .site-content{ flex: 1; }
}

.blog-posts{
    height: 100%;
    .blog-post{
        cursor: pointer;
        @media (max-width: 991px){ margin-bottom: 60px; }
    }
}

.post-thumbnail{
    width: 100%;
    height: 350px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}