.npf-page-template{
    h1{
        margin-bottom: 40px;
        font-weight: bold;
    }
    h2{
        margin-bottom: 30px;
        font-weight: bold;
    }
    h3{
        margin-bottom: 20px;
        font-weight: bold;
    }

    p, span{ font-family: "PT Serif", serif; }

    p{ margin-bottom: 20px; }

    figure{ margin: 40px auto !important; }
    
    img{
        display: flex;
        height: auto;
    }

    .post-edit-link{
        color: #fff;
        &:hover{ opacity: .7; }
    }

    .materials p{ margin: 0; }
}