.grid-wrapper{
    padding: 0 7.5px;
    .column{
        width: 20%;
        padding: 7.5px;
        @media (max-width: 1199px){ width: 50%; }
        @media (max-width: 545px){ width: 100%; }
        img{
            width: 100%;
            height: auto;
            cursor: pointer;
            &:hover{ opacity: .7; }
        }
    }

    .load-more-posts{
        .keep-scrolling{
            @include animation(bounce 2s infinite);
            font-size: 25px;
        }
    }
}